// colors
$red: #da3d2a;
$green: #44ab65;
$default: #000000;
$pale-grey: #fafbfc;
$light-periwinkle: #dfe2e6;

$colors: () !default;

$colors: map-merge(
  (
    "red": $red,
    "green": $green,
    "default": $default,
    "pale-grey": $pale-grey,
    "light-periwinkle": $light-periwinkle,
  ),
  $colors
);

// grids
$grids: (
  (
    name: "sm",
    grid: 0,
  ),
  (
    name: "md",
    grid: 768,
  ),
  (
    name: "lg",
    grid: 992,
  ),
  (
    name: "xl",
    grid: 1200,
  )
);

// font weights
$weights: (400, 500, 600, 700, 800);
