label {
  font-size: 12px;
  margin-bottom: 8px;
}

.form-group {
  margin-bottom: 32px;
}

.form-control {
  border: solid 1px $light-periwinkle !important;
  padding: 0px 16px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: none !important;
  outline: none;

  &:focus {
    border-color: lighten($default, 40%) !important;
  }

  &.--adorned {
    border: none !important;
    box-shadow: none;
  }

  &.--border-none {
    border: none !important;
  }
}

.input-container {
  border: solid 1px $light-periwinkle;
  padding: 0px 16px;
  border-radius: 4px;

  &:focus-within {
    border-color: lighten($default, 40%);
  }

  .form-control {
    border: none;
    height: 46px;
  }
}
