label {
  font-size: 12px;
  margin-bottom: 8px;
}

.form-group {
  margin-bottom: 32px;
}

.form-control {
  border: solid 1px $light-periwinkle !important;
  box-shadow: none !important;
  border-radius: 4px;
  padding: 0px 16px;
  font-size: 16px;
  outline: none;
  height: 48px;

  &:focus {
    border-color: lighten($default, 40%) !important;
  }

  &.--adorned {
    border: none !important;
    box-shadow: none;
  }

  &.--border-none {
    border: none !important;
  }
}

.input-container {
  border: solid 1px $light-periwinkle;
  align-items: center;
  border-radius: 4px;
  position: relative;
  padding: 0px 16px;
  overflow: hidden;
  display: flex;

  .start-adornment,
  .end-adornment {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:focus-within {
    border-color: lighten($default, 40%) !important;
  }

  .form-control {
    border: none;
    height: 46px;
  }

  input {
    background-color: transparent !important;
  }
}
