.table {
  white-space: nowrap;
  margin-bottom: 0px;
  border: none;

  thead {
    th {
      background-color: #fff;
      white-space: nowrap;
      border-bottom: none;
      border-top: none;
      font-weight: 700;
      position: sticky;
      padding: 0px;
      z-index: 10;
      top: 0;

      .th {
        border-bottom: solid 1px $pale-grey;
        padding: 16px 24px;
        color: $pale-grey;
        font-size: 14px;
        display: flex;
      }

      &:first-child {
        .th {
          padding-left: 0px;
        }
      }

      &:last-child {
        .th {
          padding-right: 0px;
        }
      }
    }
  }
  tbody {
    td {
      border-top: none;
      padding: 0px;

      .td {
        border-bottom: solid 1px $pale-grey;
        align-items: center;
        padding: 0px 24px;
        min-height: 60px;
        font-size: 14px;
        display: flex;

        .img {
          background-color: $pale-grey;
          text-transform: uppercase;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          overflow: hidden;
          font-weight: 700;
          font-size: 14px;
          flex: 0 0 35px;
          display: flex;
          color: $white;
          height: 35px;
          width: 35px;

          img {
            height: 100%;
          }
        }
      }

      &:first-child {
        .td {
          padding-left: 0px;
        }
      }

      &:last-child {
        .td {
          padding-right: 0px;
        }
      }
    }
  }
}
